<!DOCTYPE html>
<html>
<head>
  <title>Coder Ticket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <% if !user_signed_in? %>
        <li class="nav-item">
         <a><%= link_to 'SIGN IN', user_session_path, class: 'nav-item nav-link active' %>"></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a> <%= link_to 'SIGN OUT', destroy_user_session_path, method: "delete", class: 'nav-item nav-link active' %>"</a>
        </li>
        <li class="nav-item">
          <a> <%= link_to 'NEW EVENT', events_new_path, class: 'nav-item nav-link active' %>"</a>
        </li>
      <% end %>
    </ul>
  </nav>
<%= flash_messages %>
<%= yield %>

</body>
</html>
