<!DOCTYPE html>
<html>
<head>
  <title>Coder Ticket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
       <a><%= link_to 'SIGN IN', user_session_path, class: 'nav-item' %>></a>
        <a> <%= link_to 'SIGN OUT', destroy_user_session_path, method: "delete", class: 'nav-item' %></a>
      </li>
    </ul>
  </nav>


  <%= flash_messages %>
  <%= yield %>

</body>
</html>
